*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  width: 1100px;
  margin: 0 auto;
  font-family: Raleway, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
blockquote {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img {
  width: 100%;
}

button {
  font: inherit;
}
.font-small-normal{
  font-family: Raleway;
  font-size: 18px;
  font-weight: normal;
}
.font-mid-bold{
  font-family: Raleway;
  font-size: 22px;
  font-weight: normal;
}
.font-mid-normal{
  font-family: Raleway;
  font-size: 22px;
  font-weight: normal;
}
.color-primary-black{
  color: #000;
}
.color-primary-white{
  color: #FFF
}
.flex{
  display: flex;
}
.flex-col{
  display: flex;
  flex-direction: column;
}
.w-full{
  width: 100%;
}
.list-none{
  list-style: none;
}
.list-circle{
  list-style: circle;
}
.transform-uppercase{
  text-transform: uppercase;
}
.letter-spacing-accent-large{
  letter-spacing: 24px;
}
.letter-spacing-accent-mid{
  letter-spacing: 20px;
}
.letter-spacing-accent-low{
  letter-spacing: 17px;
}
